@page "/about"
<p style="font-family:'Segoe UI'">
    <h4>About MV3 Shipment Tracking Application</h4>
    <h6 style="text-align:justify">MV3 Shipmemt Tracking Application acts as an aggrigator that validates shipment ID from various carriers and presents the information to the user (shipper/ recipient)
    on entering a valid package ID. MV3 started its operations in 2019 by providing messages to the users by updating them about their parcel at each stage, however we started our
    web based services in 2022 after realizing the potential the web based application would provide to us and our stakeholders.</h6>

    <br /><h4>About This Project</h4>
    <h6 style="text-align:justify">MV3 Shipment Application project aims to provide an online shipment tracking facility
        to its customers. This release will have limited features. Over a period of time more new
        features and specs would be added to the online shipment tracking application.</h6>
    <br />
    <h5>The key stakeholders involved in this project are:</h5>
    <ul>
        <li>Shipper</li>
        <li>Recipient</li>
        <li>Carrier/ Agent</li>
    </ul>
    <hr /><h5>Members of the project</h5>
    <ul>
        <li>Mohammad Sonnet Khan</li>
        <li>Vatsal Gala</li>
        <li>Vishal Bhataria</li>
    </ul>
</p>


@code {

}
