@page "/success"

<body>
    <h1 style="color:rebeccapurple; font-family:'Segoe UI'" ;">Shipment Updated Successfully!</h1>
    <input type="button" onclick="window.location='/'" value="Done">
    <input type="button" value="Update New?" onclick="window.location='/change_details'">

    <br /><hr class="solid" />
    <p>Looking for your package? Click <a href="/track_shipment">here</a></p>
</body>


@code {

}
